.container {
  width: 7rem;
  background: linear-gradient(180deg, var(--box) 0%, rgba(255, 255, 255, 0) 100%);
  filter: drop-shadow(0px 0px 60px rgba(0, 0, 0, 0.05));
  position: fixed;
  flex-direction: column;
  display: flex;
  bottom: 0;
  left: 0;
  top: 0;
  z-index: 1;
}

.container>img {
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 1.5rem;
  left: 2rem;
  background: var(--primary);
  padding: 5px;
}

.container nav {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container ul {
  list-style-type: none;
  width: 100%;
}

.container li {
  display: flex;
  margin-top: 1rem;
  position: relative;
}

.container li a {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container li a svg {
  margin: 0.5rem 0;
  width: 2rem;
  height: 2rem;
  opacity: 0.5;
  stroke: var(--text);

  stroke-width: 2.5;
  stroke-linecap: "round";
  stroke-linejoin: "round"
}

.itemActive:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 5px;
}

.itemActive:before {
  left: -5px;

  border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
  -webkit-border-radius: 0px 5px 5px 0px;

  -webkit-box-shadow: 5px 0 0 0 var(--primary);
  box-shadow: 5px 0 0 0 var(--primary);
}

.container li.itemActive a svg {
  opacity: 1;
  stroke: var(--primary);
}

.theme {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.theme button {
  font-size: 0;
  border: 0;
  background: transparent;
}

.theme button svg {
  margin: 0;
  width: 2rem;
  height: 2rem;
  opacity: 0.5;
  fill: var(--text);
  stroke: var(--text);

  stroke-width: 2.5;
  stroke-linecap: "round";
  stroke-linejoin: "round"
}

.person {
  margin-bottom: 1rem;
  position: fixed;
  top: 2rem;
  right: 5rem;
  padding-top: 10px;
  z-index: 1;
}


@media(max-width: 1080px) {
  .container {
    width: 100%;
    height: 7rem;
    background: var(--box-solid);
    /* background: linear-gradient(180deg, var(--box-solid) 0%, rgba(255, 255, 255, 0) 100%); */
    filter: drop-shadow(0px 0px 60px rgba(0, 0, 0, 0.05));
    position: fixed;
    flex-direction: row;
    display: flex;
    top: 0;
    right: 0;
    bottom: calc(100% - 7rem);
  }

  .container>img {
    top: 1.4rem;
    left: 1.2rem;
    width: 4rem;
    height: 4rem;
  }

  .container ul {
    width: inherit;
    display: flex;
    gap: 4rem;
  }

  .container li {
    display: block;
    margin-top: 0;
  }

  .container li a svg {
    margin: 0.5rem 0;
    width: 3rem;
    height: 3rem;
  }

  .itemActive:before {
    height: 5px;
    width: 100%;
    left: 0px;
    bottom: -15px;
    box-shadow: 0px 5px 0px 0px var(--primary);
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
  }

  .theme {
    display: none;
  }

  .person {
    top: 2rem;
    right: 5rem;
    padding-top: 0;
  }

  /* .theme {
    top: 2rem;
    right: 1.2rem;
    position: absolute;
  }

  .theme button svg {
    margin: 0;
    width: 3rem;
    height: 3rem;
  } */
}

@media(max-width: 500px) {
  .container {
    height: 4rem;
    bottom: calc(100% - 4rem);
  }

  .container>img {
    top: 1rem;
    left: 1rem;
    width: 2rem;
    height: 2rem;
  }

  .container li a svg {
    width: 2rem;
    height: 2rem;
  }

  .itemActive:before {
    bottom: -2px;
  }

  .person {
    top: .5rem;
  }

  /* .theme {
    top: 1rem;
  }

  .theme button svg {
    width: 2rem;
    height: 2rem;
  } */
}