.container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
}

.container section {
  flex: 1;
  gap: 6.25rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 2rem;
  margin-left: 7rem;
}

.container section>div {
  height: 100%;
}

@media(max-width: 1080px) {

  .container section {
    margin-left: 0;
    margin-bottom: 7rem;
    /* padding: 7.5rem 2rem 2.5rem 2rem; */
    /* grid-template-columns: inherit; */
  }
}

@media(max-width: 720px) {
  .container section {

    grid-template-columns: inherit;
  }
}