.container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
}

.container section {
  margin-left: 7rem;
  flex: 1;
  padding: 2rem;
}

.container section h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.container section>div {
  display: flex;
}

.container table {
  flex: 1;
  margin-top: -10px;
  /* correct offset on first border spacing if desired */
  border-spacing: 0 10px;
}

.container table>thead>tr td {
  font-size: .8rem;
  font-weight: bold;
  padding: 1rem 0;
  text-transform: uppercase;
  color: var(--texto);
  opacity: 0.5;
}

.container table>tbody>tr td:first-child {
  font-size: 2rem;
  width: 100px;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  align-items: center;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: 5px solid var(--background);
}

.container table>tbody>tr td:last-child {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.container table>tbody>tr {
  background-color: var(--box);
  margin-bottom: 1rem;
}

.container table>tbody>tr>td {
  padding: 1rem;
}

.container table>tbody>tr>td b {
  color: var(--primary);
}

.userLogged {
  position: relative;
}

.userLogged {
  border-radius: 5px;
  box-shadow: 0px 0px 2px 0px var(--primary);
}

.userLogged::after {
  position: absolute;
  content: "";
  left: -5px;
  top: calc(50% - 5px);
  background-color: var(--primary);
  transform: rotate(45deg);
  height: 10px;
  width: 10px;
}


@media(max-width: 1080px) {

  .container section {
    margin-left: 0;
    margin-top: 7rem;
    padding: 0;
    flex: 1;
  }

  .container table {
    text-align: center;
  }

  .container table>tbody>tr>td {
    padding: .5rem;
  }
}

@media(max-width: 720px) {
  .container table>tbody>tr td:first-child {
    width: 50px;
    border-right: 3px solid var(--background);
  }
}

@media(max-width: 400px) {
  .container table>tbody>tr td:first-child {
    width: inherit;
  }
}